.container{
    display:flex;
    flex-direction: column;
    padding-bottom:8rem;
    img{
        background:none;
        margin:1rem 0 3.5rem 0rem;
        width: 4rem;
    }
    form{
        margin-top: .5rem;
    }
.inner-content{
        display: flex;
        flex-direction: column;
.text{
    h1, span{
        padding-bottom:3rem;
        text-align: center;
        font-family: ku;
        font-size: 2.25rem;
        line-height:2.75rem;
        width:37.5%;
    }
    span{
        color:$darkred;
        font-family: ku;
        font-size: 2.5rem;
    }
    p{
        text-align: center;
        width:36.75%;
        font-size:1.15rem;
        line-height: 1.65rem;
        b{
            font-family:bold;
        }
    }
}
input{
    width:26rem;
    padding:.85rem .75rem;
    font-family: arial;
    border:2px solid black;
    border-radius: .2rem;
    font-size: 1.1rem;  
    &:focus {
        outline: none; // Remove default browser outline
        box-shadow: 0 0 1px 1px black; // Change glow to black
        border-color: black; // Optional: Change the border to black as well
        caret-color: black; // Set the caret (blinking cursor) color to black
      }
}
.email{
    margin-top: .2rem;
    padding-left:.6rem;
}
.submit{
    padding:.75rem .75rem;
    margin-top: .5rem;
    margin-bottom:.65rem;
    background-color: $darkred;
    color:white;
    &:hover{
        opacity: .85;
        cursor: pointer; 
    }
}  
  }
}
@media screen and (min-width: 1125px) and (max-width: 1180px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:35%;
            }
        }
    }
 }
}
@media screen and (min-width: 1074px) and (max-width:1124px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:37.5%;
            }
            p{
                width:40%;
            }
        }
    }
 }
}
@media screen and (min-width: 901px) and (max-width:1073px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:45%;
            }
            p{
                width:42.5%;
            }
        }
    }
 }
}
@media screen and (min-width: 715px) and (max-width:900px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:50%;
            }
            p{
                width:47.5%;
            }
        }
    }
 }
}
@media screen and (min-width: 630px) and (max-width:714px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:60%;
            }
            p{
                width:70%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 548px) and (max-width:629px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:77.5%;
            }
            p{
                width:82.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 476px) and (max-width:547px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:80%;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:83.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 397px) and (max-width:475px) {
    .container{
                img{
        width: 3rem;
        }
    .inner-content{
        .text{
            h1{
                width:67.5%;
                font-size: 1.5rem;
                line-height:1.5rem;
            }
            span{
                font-size:1.9rem;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:83.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (max-width: 396px) {
    .container{
        img{
        width: 3rem;
        }
    .inner-content{
        .text{
            h1, span{
                width:70%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            span{
                font-size:1.9rem;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:80.0%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}