$burple: #a7b4ff; //main button color
$burple-light: #dfe2f3; // 
$burple-superlight: #ebedf5;
$yellow: #FFFA27;
$light-yellow:#e5ff00;
$orange:#f08f19;
$light-orange:#FEECCF;
$red: #FF1B40;
$light-red: #ff0f4f;
$black: #121212;
$miamigreen:#2effff;
$miamipink:#fe6dbc;
$miamiorange:#F1939F;
$white: #fafafa;
$offwhite:#F2ECE6;
$superwhite:#fff;
$dark-grey: #7d7d7d;
$light-grey: #c1c1c1;
$superlight-grey: #ebebec;
$blue: #0076FF;
$navyblue: #0D1518;
$dark-blue:#164d6d;
$light-green:#88FF00;
$green: #68D700;
$dark-green:#48AE1E;
$purple:#9b5cec;
$dark-purple: #281244;
$darker-purple:#514d69;
$mirin-red: #FF0F50;
//icon color: #788CF5
